@import url('../font/adihaus/stylesheet.css');
@import url('../font/adineue/stylesheet.css');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext');
.font-primary{
	font-family:'AdiHaus',sans-serif;
}
.font-header{
	font-family:'AdiNeue',sans-serif;
}
.font-open{
	font-family:'Open Sans',sans-serif;
}
