.icon-white-at, .icon-white-phone, .icon-white-check, .icon-white-fb, .icon-white-star,.icon-white-calc, .icon-white-checkbox, .icon-white-oldphone, .icon-white-clock{
	display: block;
	background: url(../images/icon/03.png) no-repeat;
}
.icon-white-at {
	background-position: -0px -0px;
	width: 42px;
	height: 42px;
}
.icon-white-phone {
	background-position: -0px -42px;
	width: 42px;
	height: 42px;
}
.icon-white-check {
	background-position: -0px -84px;
	width: 42px;
	height: 42px;
}
.icon-white-fb {
	background-position: -0px -126px;
	width: 42px;
	height: 42px;
}
.icon-white-star {
	background-position: -0px -168px;
	width: 42px;
	height: 42px;
}
.icon-white-calc {
	background-position: -0px -210px;
	width: 42px;
	height: 42px;
}
.icon-white-checkbox {
	background-position: -0px -252px;
	width: 42px;
	height: 42px;
}
.icon-white-oldphone {
	background-position: -0px -294px;
	width: 42px;
	height: 42px;
}
.icon-white-clock {
	background-position: -0px -336px;
	width: 42px;
	height: 42px;
}