a{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}
.container{
	width: 960px;
	padding: 0 10px;
	margin: auto;
	text-align: left;
}
.taper{
	margin: 0 180px;
}
.nomargin{
	margin: 0!important;
}
#page-header{
	.clearfix;
	position: relative;
	z-index: 1;
	min-width: 980px;
	background: #fff;
	.logo{
		float: left;
		margin: 0 0 -26px;
		a{
			display: block;
			width: 80px;
			height: 80px;
			text-indent: -9999px;
			background: url(../images/logo/01.png) no-repeat;
			img{
				display: block;
			}
		}
	}
}
#mainmenu{
	float: right;
	padding: 20px 5px 9px 0;
	ul{
		.reset-ul;
		li{
			.reset-li;
			float: left;
			line-height: 1;
			margin: 0 0 0 29px;
			a{
				display: block;
				position: relative;
				text-decoration: none;
				color: @color-primary;
				padding: 0 5px 9px;
				&:hover{
					&:after{
						position: absolute;
						content: '';
						left: 0;
						bottom: 0;
						width: 100%;
						height: 2px;
						margin-left: 1px;
						border-bottom: 1px dotted #7f7f7f;
					}
					&:before{
						position: absolute;
						content: '';
						left: 0;
						bottom: 1px;
						width: 100%;
						height: 2px;
						border-bottom: 1px dotted #7f7f7f;
					}
				}
			}
			&.active{
				a:before{
					position: absolute;
					content: '';
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background: @color-link;
				}
			}
		}
	}
}
#title-header{
	.clearfix;
	min-width: 980px;
	min-height: 346px;
	background: url(../images/example/03.jpg) no-repeat top;
	.title{
		.font-header;
		text-align: center;
		font-weight: bold;
		font-size: 118px;
		line-height: 0.9;
		margin: 123px 0 0;
		color: #fff;
		text-shadow: 0 0 18px rgba(0,0,0,0.4);
		#colection &{
			margin-top: 70px;
		}
	}
}
#promo-header{
	.clearfix;
	min-width: 980px;
	min-height: 650px;
	background: url(../images/example/02.jpg) no-repeat top;
	figure{
		position: relative;
		float: right;
		width: 280px;
		margin: 0 40px 0 0;
		padding: 220px 0 0;
		figcaption{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 0 0 38px;
			text-align: center;
			color: #fff;
			font-size: 20px;
			line-height: 1.2;
			mark{
				display: block;
				margin: auto;
				font-weight: bold;
				background: none;
				color: #fff;
			}
		}
		a{
			color: #fff;
			text-decoration: none;
		}
	}
	.content{
		padding: 180px 0 0;
		width: 600px;
		float: left;
		color: #fff;
		line-height: 1.57;
		a{
			color: #fff;
		}
		.title{
			.font-header;
			font-weight: bold;
			font-size: 80px;
			line-height: 0.9;
			margin: 0 0 35px;
			text-shadow: 0 0 18px rgba(0,0,0,0.4);
		}
		nav{
			margin: 33px 0 20px;
			.btn{
				min-width: 160px;
				height: 48px;
				line-height: 48px;
				margin-right: 15px;
				&.btn-dark{
					font-size: 17px;
				}
			}
		}
	}
}
#content{
	margin: 55px 0 37px;
	#expedition &,#rules &,#error &{
		background: #fff;
		margin: 0;
		padding: 55px 0 147px;
	}
	#error &{
		font-size: 20px;
	}
	#colection &{
		margin: 55px 0 0;
	}
	.decoration{
		position: relative;
		padding: 0 0 32px;
		border-bottom: 1px solid #e5e5e5;
		#colection &,#rules &{
			border: 0;
		}
		&:before{
			position: absolute;
			content: '';
			top: -55px;
			right: 37px;
			width: 99px;
			height: 103px;
			background: url(../images/bg/03.png) no-repeat bottom;
			#colection &,#rules &{
				top: 137px;
				height: 155px;
			}
		}
		&:after{
			position: absolute;
			content: '';
			bottom: -35px;
			left: 0;
			width: 175px;
			height: 138px;
			background: url(../images/bg/04.png) no-repeat bottom;
			#colection &,#rules &{
				bottom: 175px;
			}
		}
	}
	.title{
		.font-header;
		font-size: 40px;
		line-height: 1;
		font-weight: bold;
		text-align: center;
		margin: 0 0 40px;
	}
}
.main-content{
	margin: 55px 0;
	#expedition &{
		margin: 0;
		background: #fff;
		.container{
			padding: 55px 0 34px;
			border-top: 1px solid #e5e5e5;
			border-bottom: 1px solid #e5e5e5;
		}
	}
	.title{
		.font-header;
		font-size: 40px;
		line-height: 1;
		font-weight: bold;
		text-align: center;
		margin: 0 0 40px;
	}
}
#competition-content{
	margin: 37px 0 0;
	#expedition &{
		margin-top: 50px;
		font-size: 20px;
	}
	.title{
		.font-header;
		font-size: 40px;
		line-height: 1;
		font-weight: bold;
		text-align: center;
		margin: 0 0 40px;
	}
	section{
		.clearfix;
		margin: 0 0 0 -35px;
		article{
			width: 210px;
			float: left;
			margin: 0 0 22px 35px;
			text-align: center;
			font-size: 16px;
			figure{
				margin: 0 0 10px;
			}
		}
	}
}
#form-competition{
	background: #fff;
	position: relative;
	padding: 77px 0 169px;
	&:before{
		position: absolute;
		content: '';
		border: 40px solid transparent;
		border-top-color: #f0f0f0;
		left: 50%;
		top: 0;
		margin-left: -40px;
	}
	header{
		text-align: center;
		color: #808080;
		margin: 0 0 53px;
		.title{
			.font-header;
			font-size: 40px;
			line-height: 1;
			font-weight: bold;
			margin: 0 0 8px;
			color: @color-primary;
		}
	}
	.form-group{
		.clearfix;
		margin: 0 200px 12px;
		.label{
			width: 170px;
			padding: 10px 30px 8px 20px;
			float: left;
			color: #008fe9;
			font-size: 18px;
			line-height: 1.5;
			text-align: right;
			background: #f0f0f0;
			&.label-txt{
				padding-top: 18px;
				padding-bottom: 18px;
			}
		}
		.control{
			width: 340px;
			float: right;
			input[type=text],input[type=password],input[type=email],select,textarea{
				width: 308px;
				margin-bottom: 0;
			}
			select{
				width: 340px;
			}
			textarea{
				width: 298px;
				height: 48px;
			}
			.helper{
				color: #999;
				font-size: 14px;
				font-style: italic;
				margin: 7px 0 4px;
			}
		}
		.radio-control{
			background: #f0f0f0;
			display: block;
			float: left;
			font-size: 20px;
			line-height: 1;
			width: 150px;
			padding: 15px 10px 9px;
			min-height: 21px;
			.radio{
				display: inline;
				span{
					display: inline-block;
					width: 30px;
					height: 30px;
					margin: -7px 12px -7px 0;
					float: left;
					background: url(../images/form/radio.png) no-repeat;
					&.checked{
						background-position: 0 -30px;
					}
				}
				&.disabled{
					span{
						background-position: 0 -60px;
						&.checked{
							background-position: 0 -90px;
						}
					}
				}
				input{
					opacity: 0;
					filter: alpha(opacity=0);
					-moz-opacity: 0;
					border: none;
					background: none;
					display: -moz-inline-box;
					display: inline-block;
					zoom: 1;
					text-align: center;
					width: 30px;
					height: 30px;
				}
			}
		}
		.select-control{
			select{
				width: 160px;
			}
		}
	}
	footer{
		padding:47px 0 0;
		margin: 0 200px;
		color: #666;
		a{
			color: @color-primary;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		input[type=submit]{
			position: relative;
			top: -15px;
			padding-left: 22px;
			padding-right: 22px;
			height: 50px;
			line-height: 50px;
		}
	}
}
#expedition-items{
	background: #fff;
	padding: 0 0 33px;
	.row{
		.clearfix;
		margin: 0 0 0 -60px;
	}
	.item{
		width: 450px;
		float: left;
		margin: 0 0 0 60px;
		.title{
			.font-header;
			font-size: 40px;
			line-height: 1;
			text-align: center;
			margin: 0 0 33px;
		}
		figure{
			margin: 0 0 30px;
		}
	}
}
#profile{
	.clearfix;
	padding: 55px 0 143px;
	background: #fff;
	figure{
		width: 280px;
		margin: 0 0 0 40px;
		float: left;
	}
	.content{
		width: 600px;
		float: right;
		.title{
			.font-header;
			font-size: 40px;
			line-height: 1;
			margin: 0 0 40px;
		}
	}
}
#colection-item{
	.clearfix;
	background: #fff;
	padding: 50px 0 143px;
	.title{
		.font-header;
		font-size: 40px;
		line-height: 1;
		margin: 0 0 48px;
		text-align: center;
	}
	figure{
		float: left;
		width: 450px;
		padding: 15px 0;
	}
	.content{
		width: 480px;
		float: right;
	}
}
#list-shops{
	position: relative;
	z-index: 1;
	width: 300px;
	height: 600px;
	float: left;
	background: #f0f0f0;
	text-align: left;
	overflow: auto;
	ul{
		.reset-ul;
		li{
			.reset-li;
			position: relative;
			&:before{
				position: absolute;
				top: -1px;
				left: 30px;
				right: 30px;
				height: 1px;
				background: #d8d8d8;
			}
			&:first-child{
				&:before{
					display: none;
				}
				a{
					padding-top: 23px;
				}
			}
			&:hover{
				&:before{
					display: none;
				}
			}
			&:last-child{
				a{
					padding-bottom: 30px;
				}
			}
			a{
				.font-open;
				position: relative;
				z-index: 1;
				display: block;
				color: @color-primary;
				padding: 15px 40px 14px 54px;
				font-size: 14px;
				line-height: 1.5;
				&:hover{
					text-decoration: none;
					background: #c0ddef;
				}
				strong{
					font-weight: 600;
				}
			}
		}
	}
}
#map-shops{
	margin: 0 0 0 300px;
	height: 600px;
	min-width: 680px;
}
#page-footer{
	position: relative;
	background: #dbdbdb;
	min-width: 980px;
	clear: both;
	.bg{
		position: absolute;
		left: 0;
		bottom: 100%;
		width: 100%;
		height: 87px;
		min-width: 980px;
		background: url(../images/bg/01.png) no-repeat top;
	}
	.copy{
		text-align: right;
		font-size: 12px;
		padding: 14px 0;
		mark{
			background: none;
			margin: 0 20px 0 0;
		}
	}
}
.gm-style{
	text-align: left;
	.infoBox{
		.font-open;
		.box-shadow(0 0 24px rgba(0,0,0,0.2));
		.border-radius(6px);
		font-size: 14px;
		line-height: 1.4;
		width: 200px;
		padding: 10px 18px;
		margin-left: 5px;
		background: #fff;
		&:after{
			position: absolute;
			content: '';
			left: 50%;
			top: 100%;
			margin-left: -10px;
			border: 10px solid transparent;
			border-top-color: #fff;
		}
		p{
			margin: 10px 0;
		}
	}
}
.alert{
	font-size: 16px;
	color: #fff;
	margin: 20px 0;
	padding: 19px 0;
	background-image: -webkit-linear-gradient(-45deg,rgba(255,255,255,.07) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.07) 50%,rgba(255,255,255,.07) 75%,transparent 75%,transparent);
	background-image: linear-gradient(-45deg,rgba(255,255,255,.07) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.07) 50%,rgba(255,255,255,.07) 75%,transparent 75%,transparent);
	background-size: 28px 28px;
	&.error{
		background-color: #f63925;
	}
	p{
		margin: 0;
	}
}
.modal{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	&.in{
		display: block;
	}
	.modal-dialog{
		.border-radius(4px);
		position: relative;
		width: 520px;
		padding: 40px;
		margin: 120px auto 0;
		background: #fff;
		&:before{
			position: absolute;
			content: '';
			left: -95px;
			top: -25px;
			width: 154px;
			height: 135px;
			background: url(../images/bg/02.png) no-repeat;
		}
		.close{
			position: absolute;
			right: 10px;
			top: 7px;
			color: #ff2c14;
			font-size: 38px;
			line-height: 1;
			text-decoration: none;
			&:hover{
				text-decoration: none;
				color: @color-primary;
			}
		}
		.modal-content{
			.title{
				.font-header;
				font-weight: bold;
				font-size: 40px;
				line-height: 1;
				margin: 30px 0 25px;
				color: #1a1a1a;
			}
		}
		.modal-icon-check{
			display: inline-block;
			width: 100px;
			height: 100px;
			background: url(../images/icon/05.png) no-repeat;
		}
		.addthis_toolbox{
			display: inline-block;
			margin: 0 0 -5px;
		}
	}
}