html,button,input,select,textarea{
	.font-primary;
}
body{
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	text-align: center;
	background: #f0f0f0;
	color:@color-primary;
}
a{
	color: @color-link;
	cursor:pointer;
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 20px 0;
}
h1{
	font-size:38px;
	font-weight: bold;
}
h2{
	font-size:28px;
	font-weight: bold;
}
h3{
	font-size:26px;
	font-weight: bold;
}
h4{
	font-size:18px;
	font-weight: bold;
}
h5{
	font-size:18px;
	font-weight: bold;
}
h6{
	font-size:18px;
	font-weight: bold;
}
p{
	margin:0 0 20px 0;
}
ul,ol{
	padding:0;
	margin:0 0 20px 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom:0;
}
ul li{
	position:relative;
	list-style-type:none;
	padding:0 0 0 20px;
	margin:0;
	&:before{
		position:absolute;
		top:0;
		left:0;
		content:'\203a';
	}
	ul{
		padding:10px 0;
	}
}
ol{
	list-style:decimal;
	li{
		margin:0 0 0 20px;
	}
	ol{
		padding: 10px 0;
	}
}
hr{
	margin:0 0 20px 0;
	border:0;
	border-top:1px solid lighten(@color-primary,60%);
}
strong{
	font-weight:bold;
}
em{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align:baseline;
	font-size:60%;
	line-height:1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
blockquote{
	margin: 20px 0;
	padding: 0 0 0 20px;
	border-left: 10px solid @color-link;
	p{
		margin: 10px 0;
	}
}
a{
	cursor:pointer;
	&:hover{
		text-decoration:none;
	}
}
table{
	width: 100%;
	background: #fff;
	margin: 20px 0;
	th,td{
		padding: 5px 8px;
		border: 1px solid #f4f4f4;
	}
	thead td,th{
		background: #bdd52c;
	}
}
input[type=text],input[type=password],input[type=email],select,textarea{
	.reset-input;
	margin: 0 0 5px;
	background: #fff;
	color: @color-primary;
	outline: none;
	height: 23px;
	font-weight: 300;
	padding: 10px 15px;
	border: 1px solid #e6e6e6;
}
select{
	height: 45px;
}
select[multiple]{
	height: auto;
}
textarea{
	padding: 20px;
	height: auto;
}
